# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Set the target IP addresses from the targets.list file
set RHOSTS file:targets.list

#
# Module: TCP Port Scanner
#
use auxiliary/scanner/portscan/tcp
set THREADS 1
run
back
sleep 2

#
# Module: SYN Port Scanner
#
use auxiliary/scanner/portscan/syn
set THREADS 1
run
back
sleep 2

exit