# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Logging & session defaults
setg LogLevel 1
setg HttpClientTimeout 5
setg THREADS 4

# Targets (edit this path if needed)
setg RHOSTS file:/opt/metasploit-framework/ms_checks/targets.list

# Optional HTTP defaults (uncomment if needed)
# setg TARGETURI /
# setg RPORT 443
# setg SSL true

# exploit/linux/http/f5_icontrol_rest_auth_bypass_rce
use exploit/linux/http/f5_icontrol_rest_auth_bypass_rce
check
back
sleep 2

# auxiliary/gather/fortinet_fortios_ssl_vpn_info_disclosure
use auxiliary/gather/fortinet_fortios_ssl_vpn_info_disclosure
check
back
sleep 2

# auxiliary/scanner/http/citrix_dir_traversal
use auxiliary/scanner/http/citrix_dir_traversal
check
back
sleep 2

# exploit/multi/http/struts2_namespace_ognl
use exploit/multi/http/struts2_namespace_ognl
check
back
sleep 2

# exploit/multi/http/struts2_content_type_ognl
use exploit/multi/http/struts2_content_type_ognl
check
back
sleep 2

spool off
exit
