# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Logging & session defaults
setg LogLevel 1
setg HttpClientTimeout 5
setg THREADS 4

# Targets (edit this path if needed)
setg RHOSTS file:/opt/metasploit-framework/ms_checks/targets.list

# Optional HTTP defaults (uncomment if needed)
# setg TARGETURI /
# setg RPORT 443
# setg SSL true

# exploit/linux/http/ivanti_connect_secure_cmd_injection
use exploit/linux/http/ivanti_connect_secure_cmd_injection
check
back
sleep 2

# exploit/linux/http/f5_bigip_tmui_rce
use exploit/linux/http/f5_bigip_tmui_rce
check
back
sleep 2

# auxiliary/scanner/http/cisco_smart_install
use auxiliary/scanner/http/cisco_smart_install
check
back
sleep 2

# auxiliary/scanner/http/panos_admin_mgmt_finder
use auxiliary/scanner/http/panos_admin_mgmt_finder
check
back
sleep 2

# exploit/windows/http/sharepoint_rce
use exploit/windows/http/sharepoint_rce
check
back
sleep 2

spool off
exit
