# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Logging & session defaults
setg LogLevel 1
setg HttpClientTimeout 5
setg THREADS 4

# Targets (edit this path if needed)
setg RHOSTS file:/opt/metasploit-framework/ms_checks/targets.list

# Optional HTTP defaults (uncomment if needed)
# setg TARGETURI /
# setg RPORT 443
# setg SSL true

# exploit/multi/http/magento_shoplift
use exploit/multi/http/magento_shoplift
check
back
sleep 2

# exploit/multi/http/prestashop_exec
use exploit/multi/http/prestashop_exec
check
back
sleep 2

# exploit/linux/http/webmin_packageup_rce
use exploit/linux/http/webmin_packageup_rce
check
back
sleep 2

# exploit/multi/http/cacti_monitoring_rce
use exploit/multi/http/cacti_monitoring_rce
check
back
sleep 2

# auxiliary/scanner/http/pulse_secure_vpn_enum
use auxiliary/scanner/http/pulse_secure_vpn_enum
check
back
sleep 2

spool off
exit
