# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Logging & session defaults
setg LogLevel 1
setg HttpClientTimeout 5
setg THREADS 4

# Targets (edit this path if needed)
setg RHOSTS file:/opt/metasploit-framework/ms_checks/targets.list

# Optional HTTP defaults (uncomment if needed)
# setg TARGETURI /
# setg RPORT 443
# setg SSL true

# exploit/multi/http/spring_cloud_function_spel_injection
use exploit/multi/http/spring_cloud_function_spel_injection
check
back
sleep 2

# exploit/multi/http/spring_core_rce
use exploit/multi/http/spring_core_rce
check
back
sleep 2

# exploit/multi/http/jenkins_script_console
use exploit/multi/http/jenkins_script_console
check
back
sleep 2

# exploit/multi/http/jenkins_cli_deserialize
use exploit/multi/http/jenkins_cli_deserialize
check
back
sleep 2

# exploit/multi/http/drupal_drupalgeddon2
use exploit/multi/http/drupal_drupalgeddon2
check
back
sleep 2

spool off
exit
