# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Logging & session defaults
setg LogLevel 1
setg HttpClientTimeout 5
setg THREADS 4

# Targets (edit this path if needed)
setg RHOSTS file:/opt/metasploit-framework/ms_checks/targets.list

# Optional HTTP defaults (uncomment if needed)
# setg TARGETURI /
# setg RPORT 443
# setg SSL true

# exploit/multi/http/jenkins_metaprogramming_rce
use exploit/multi/http/jenkins_metaprogramming_rce
check
back
sleep 2

# exploit/multi/http/glassfish_deploy
use exploit/multi/http/glassfish_deploy
check
back
sleep 2

# exploit/multi/http/ibm_websphere_java_deserialize
use exploit/multi/http/ibm_websphere_java_deserialize
check
back
sleep 2

# exploit/multi/http/coldfusion_fckeditor_rce
use exploit/multi/http/coldfusion_fckeditor_rce
check
back
sleep 2

# exploit/multi/http/bitbucket_git_command_rce
use exploit/multi/http/bitbucket_git_command_rce
check
back
sleep 2

spool off
exit
