# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Logging & session defaults
setg LogLevel 1
setg HttpClientTimeout 5
setg THREADS 4

# Targets (edit this path if needed)
setg RHOSTS file:/opt/metasploit-framework/ms_checks/targets.list

# Optional HTTP defaults (uncomment if needed)
# setg TARGETURI /
# setg RPORT 443
# setg SSL true

# exploit/multi/http/confluence_namespace_ognl
use exploit/multi/http/confluence_namespace_ognl
check
back
sleep 2

# exploit/multi/http/confluence_widget_connector
use exploit/multi/http/confluence_widget_connector
check
back
sleep 2

# exploit/multi/http/atlassian_crowd_deserial_rce
use exploit/multi/http/atlassian_crowd_deserial_rce
check
back
sleep 2

# exploit/multi/http/atlassian_bitbucket_git_command_injection
use exploit/multi/http/atlassian_bitbucket_git_command_injection
check
back
sleep 2

# exploit/linux/http/f5_icontrol_rest_auth_bypass_rce
use exploit/linux/http/f5_icontrol_rest_auth_bypass_rce
check
back
sleep 2

spool off
exit
