# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Logging & session defaults
setg VERBOSE true
setg LogLevel 1
setg HttpClientTimeout 8
setg ConnectTimeout 8
setg THREADS 4
setg SRVHOST 127.0.0.1
setg LHOST 127.0.0.1

# Targets (edit this path if needed)
setg RHOSTS file:/opt/metasploit-framework/ms_checks/targets.list

# Optional HTTP defaults (uncomment if needed)
# setg TARGETURI /
# setg RPORT 443
# setg SSL true

# exploit/multi/http/sap_webdynpro_deserialization
use exploit/multi/http/sap_webdynpro_deserialization
check
back
sleep 2

# exploit/multi/http/oracle_report_server_deserialization
use exploit/multi/http/oracle_report_server_deserialization
check
back
sleep 2

# exploit/multi/http/saltstack_salt_api_cmd_exec
use exploit/multi/http/saltstack_salt_api_cmd_exec
check
back
sleep 2

# exploit/multi/http/roxywi_rce
use exploit/multi/http/roxywi_rce
check
back
sleep 2

# exploit/multi/http/nexus_repository_rce
use exploit/multi/http/nexus_repository_rce
check
back
sleep 2

spool off
exit
