# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Logging & session defaults
setg VERBOSE true
setg LogLevel 1
setg HttpClientTimeout 8
setg ConnectTimeout 8
setg THREADS 4
setg SRVHOST 127.0.0.1
setg LHOST 127.0.0.1

# Targets (edit this path if needed)
setg RHOSTS file:/opt/metasploit-framework/ms_checks/targets.list

# Optional HTTP defaults (uncomment if needed)
# setg TARGETURI /
# setg RPORT 443
# setg SSL true

# exploit/multi/http/sugarcrm_rest_unserialize
use exploit/multi/http/sugarcrm_rest_unserialize
check
back
sleep 2

# exploit/multi/http/suitecrm_log_file_rce
use exploit/multi/http/suitecrm_log_file_rce
check
back
sleep 2

# exploit/multi/http/apache_druid_rce
use exploit/multi/http/apache_druid_rce
check
back
sleep 2

# exploit/multi/http/apache_superset_session_rce
use exploit/multi/http/apache_superset_session_rce
check
back
sleep 2

# exploit/multi/http/oracle_access_manager_rce_cve_2021_35587
use exploit/multi/http/oracle_access_manager_rce_cve_2021_35587
check
back
sleep 2

spool off
exit
