# scan.rc
# Automated vulnerability verification script.
# This script will check for the presence of multiple vulnerabilities on multiple hosts.
# WARNING: This file should only be used in a legal, controlled lab environment.

# Set the target IP addresses from the targets.list file
set RHOSTS file:targets.list

#
# Exploit: AVideo WWBNIndex Plugin Unauthenticated RCE
#
use exploit/multi/http/avideo_wwbnindex_unauth_rce
check
back

#
# Exploit: Acronis Cyber Protect/Backup remote code execution
#
use exploit/multi/http/acronis_cyber_protect_unauth_rce_cve_2022_3405
check
back

#
# Exploit: Adobe ColdFusion Unauthenticated Remote Code Execution
#
use exploit/multi/http/adobe_coldfusion_rce_cve_2023_26360
check
back

#
# Exploit: Advantech iView NetworkServlet Command Injection
#
use exploit/windows/http/advantech_iview_networkservlet_cmd_inject
check
back

#
# Exploit: Advantech iView Unauthenticated Remote Code Execution
#
use exploit/windows/http/advantech_iview_unauth_rce
check
back

#
# Exploit: AjaxPro Deserialization Remote Code Execution
#
use exploit/windows/http/ajaxpro_deserialization_rce
check
back

#
# Exploit: Apache ActiveMQ Unauthenticated Remote Code Execution
#
use exploit/multi/misc/apache_activemq_rce_cve_2023_46604
check
back

#
# Exploit: Apache Commons Text RCE
#
use exploit/multi/http/apache_commons_text4shell
set PARAM q
check
back

#
# Exploit: Apache Couchdb Erlang RCE
#
use exploit/multi/http/apache_couchdb_erlang_rce
check
back

#
# Exploit: Apache Druid JNDI Injection RCE
#
use exploit/multi/http/apache_druid_cve_2023_25194
# The SRVHOST option must be set to the IP address of the machine running the exploit.
set SRVHOST 192.168.1.10
check
back

#
# Exploit: Apache OFBiz forgotPassword/ProgramExport RCE
#
use exploit/multi/http/apache_ofbiz_forgot_password_directory_traversal
check
back

#
# Exploit: Atlassian Confluence Administrator Code Macro Remote Code Execution
#
use exploit/multi/http/atlassian_confluence_rce_cve_2024_21683
check
back

#
# Exploit: Atlassian Confluence Namespace OGNL Injection
#
use exploit/multi/http/atlassian_confluence_namespace_ognl_injection
check
back

#
# Exploit: Atlassian Confluence SSTI Injection
#
use exploit/multi/http/atlassian_confluence_rce_cve_2023_22527
check
back

#
# Exploit: Atlassian Confluence WebWork OGNL Injection
#
use exploit/multi/http/atlassian_confluence_webwork_ognl_injection
check
back

#
# Exploit: BoidCMS Command Injection
#
use exploit/multi/http/cve_2023_38836_boidcms
check
back

#
# Exploit: CA Unified Infrastructure Management Nimsoft 7.80 - Remote Buffer Overflow
#
use exploit/windows/nimsoft/nimcontroller_bof
check
back

#
# Exploit: Cacti Import Packages RCE
#
use exploit/multi/http/cacti_package_import_rce
check
back

#
# Exploit: Cacti RCE via SQLi in pollers.php
#
use exploit/multi/http/cacti_pollers_sqli_rce
check
back

#
# Exploit: Calibre Python Code Injection (CVE-2024-6782)
#
use exploit/multi/misc/calibre_exec
check
back

#
# Exploit: Cayin xPost wayfinder_seqid SQLi to RCE
#
use exploit/windows/http/cayin_xpost_sql_rce
check
back

#
# Exploit: Cleo LexiCom, VLTrader, and Harmony Unauthenticated Remote Code Execution
#
use exploit/multi/http/cleo_rce_cve_2024_55956
check
back

#
# Exploit: ConnectWise ScreenConnect Unauthenticated Remote Code Execution
#
use exploit/multi/http/connectwise_screenconnect_rce_cve_2024_1709
check
back

#
# Exploit: CrushFTP Unauthenticated RCE
#
use exploit/multi/http/crushftp_rce_cve_2023_43177
check
back

#
# Exploit: DIAEnergie SQL Injection (CVE-2024-4548)
#
use exploit/windows/scada/diaenergie_sqli
check
back

#
# Exploit: Delta Electronics InfraSuite Device Master Deserialization
#
use exploit/windows/misc/delta_electronics_infrasuite_deserialization
check
back

#
# Exploit: DotCMS RCE via Arbitrary File Upload
#
use exploit/multi/http/dotcms_file_upload_rce
check
back

#
# Exploit: Exchange Control Panel ViewState Deserialization
#
use exploit/windows/http/exchange_ecp_viewstate
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: FlexDotnetCMS Arbitrary ASP File Upload
#
use exploit/windows/http/flexdotnetcms_upload_exec
check
back

#
# Exploit: FortiNet FortiClient Endpoint Management Server FCTID SQLi to RCE
#
use exploit/windows/http/forticlient_ems_fctid_sqli
check
back

#
# Exploit: Fortra GoAnywhere MFT Unauthenticated Remote Code Execution
#
use exploit/multi/http/fortra_goanywhere_mft_rce_cve_2024_0204
check
back

#
# Exploit: Geoserver unauthenticated Remote Code Execution
#
use exploit/multi/http/geoserver_unauth_rce_cve_2024_36401
check
back

#
# Exploit: Gibbon School Platform Authenticated PHP Deserialization Vulnerability
#
use exploit/multi/http/gibbon_auth_rce_cve_2024_24725
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: Gitea Git Fetch Remote Code Execution
#
use exploit/multi/http/gitea_git_fetch_rce
check
back

#
# Exploit: Gitea Git Hooks Remote Code Execution
#
use exploit/multi/http/gitea_git_hooks_rce
check
back

#
# Exploit: GiveWP Unauthenticated Donation Process Exploit
#
use exploit/multi/http/wp_givewp_rce
check
back

#
# Exploit: Gladinet CentreStack/Triofox ASP.NET ViewState Deserialization
#
use exploit/windows/http/gladinet_viewstate_deserialization_cve_2025_30406
check
back

#
# Exploit: Gogs Git Hooks Remote Code Execution
#
use exploit/multi/http/gogs_git_hooks_rce
check
back

#
# Exploit: HPE Systems Insight Manager AMF Deserialization RCE
#
use exploit/windows/http/hpe_sim_76_amf_deserialization
check
back

#
# Exploit: HorizontCMS Arbitrary PHP File Upload
#
use exploit/multi/http/horizontcms_upload_exec
check
back

#
# Exploit: Inductive Automation Ignition Remote Code Execution
#
use exploit/multi/scada/inductive_ignition_rce
check
back

#
# Exploit: Invision Community 5.0.6 customCss RCE
#
use exploit/multi/http/invision_customcss_rce
check
back

#
# Exploit: Ivanti Avalanche FileStoreConfig File Upload
#
use exploit/windows/http/ivanti_avalanche_filestoreconfig_upload
check
back

#
# Exploit: Ivanti Avalanche MDM Buffer Overflow
#
use exploit/windows/misc/ivanti_avalanche_mdm_bof
check
back

#
# Exploit: Ivanti EPM Agent Portal Command Execution
#
use exploit/windows/misc/ivanti_agent_portal_cmdexec
check
back

#
# Exploit: JetBrains TeamCity Unauthenticated Remote Code Execution
#
use exploit/multi/http/jetbrains_teamcity_rce_cve_2023_42793
check
back

#
# Exploit: JetBrains TeamCity Unauthenticated Remote Code Execution
#
use exploit/multi/http/jetbrains_teamcity_rce_cve_2024_27198
check
back

#
# Exploit: LG Simple Editor Command Injection (CVE-2023-40504)
#
use exploit/windows/http/lg_simple_editor_rce_uploadvideo
check
back

#
# Exploit: LG Simple Editor Remote Code Execution
#
use exploit/windows/http/lg_simple_editor_rce
check
back

#
# Exploit: Log4Shell HTTP Header Injection
#
use exploit/multi/http/log4shell_header_injection
check
back

#
# Exploit: MOVEit SQL Injection vulnerability
#
use exploit/windows/http/moveit_cve_2023_34362
check
back

#
# Exploit: ManageEngine ADAudit Plus Authenticated File Write RCE
#
use exploit/windows/http/manageengine_adaudit_plus_authenticated_rce
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: ManageEngine ADAudit Plus CVE-2022-28219
#
use exploit/windows/http/manageengine_adaudit_plus_cve_2022_28219
check
back

#
# Exploit: ManageEngine ADManager Plus ChangePasswordAction Authenticated Command Injection
#
use exploit/windows/http/manageengine_admanager_plus_cve_2023_29084_auth_cmd_injection
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: ManageEngine ADSelfService Plus Custom Script Execution
#
use exploit/windows/http/manageengine_adselfservice_plus_cve_2022_28810
check
back

#
# Exploit: ManageEngine ADSelfService Plus Unauthenticated SAML RCE
#
use exploit/multi/http/manageengine_adselfservice_plus_saml_rce_cve_2022_47966
check
back

#
# Exploit: ManageEngine Endpoint Central Unauthenticated SAML RCE
#
use exploit/windows/http/manageengine_endpoint_central_saml_rce_cve_2022_47966
check
back

#
# Exploit: ManageEngine OpManager SumPDU Java Deserialization
#
use exploit/multi/http/opmanager_sumpdu_deserialization
check
back

#
# Exploit: ManageEngine ServiceDesk Plus CVE-2021-44077
#
use exploit/windows/http/manageengine_servicedesk_plus_cve_2021_44077
check
back

#
# Exploit: ManageEngine ServiceDesk Plus Unauthenticated SAML RCE
#
use exploit/multi/http/manageengine_servicedesk_plus_saml_rce_cve_2022_47966
check
back

#
# Exploit: MaraCMS Arbitrary PHP File Upload
#
use exploit/multi/http/maracms_upload_exec
check
back

#
# Exploit: Micro Focus UCMDB Java Deserialization Unauthenticated Remote Code Execution
#
use exploit/multi/http/microfocus_ucmdb_unauth_deser
check
back

#
# Exploit: Microsoft Exchange ProxyLogon RCE
#
use exploit/windows/http/exchange_proxylogon_rce
check
back

#
# Exploit: Microsoft Exchange ProxyNotShell RCE
#
use exploit/windows/http/exchange_proxynotshell_rce
check
back

#
# Exploit: Microsoft Exchange ProxyShell RCE
#
use exploit/windows/http/exchange_proxyshell_rce
check
back

#
# Exploit: Microsoft Exchange Server ChainedSerializationBinder RCE
#
use exploit/windows/http/exchange_chainedserializationbinder_rce
check
back

#
# Exploit: Microsoft Exchange Server DlpUtils AddTenantDlpPolicy RCE
#
use exploit/windows/http/exchange_ecp_dlp_policy
check
back

#
# Exploit: Microsoft SharePoint Server-Side Include and ViewState RCE
#
use exploit/windows/http/sharepoint_ssi_viewstate
check
back

#
# Exploit: Microsoft SharePoint Unsafe Control and ViewState RCE
#
use exploit/windows/http/sharepoint_unsafe_control
check
back

#
# Exploit: Mirth Connect Deserialization RCE
#
use exploit/multi/http/mirth_connect_cve_2023_43208
check
back

#
# Exploit: Monitorr unauthenticated Remote Code Execution (RCE)
#
use exploit/multi/http/monitorr_webshell_rce_cve_2020_28871
check
back

#
# Exploit: MyBB Admin Control Code Injection RCE
#
use exploit/multi/http/mybb_rce_cve_2022_24734
check
back

#
# Exploit: NETGEAR ProSafe Network Management System 300 Arbitrary File Upload
#
use exploit/windows/http/netgear_nms_rce
check
back

#
# Exploit: NetMotion Mobility Server MvcUtil Java Deserialization
#
use exploit/windows/http/netmotion_mobility_mvcutil_deserialization
check
back

#
# Exploit: NorthStar C2 XSS to Agent RCE
#
use exploit/windows/http/northstar_c2_xss_to_agent_rce
check
back

#
# Exploit: Oracle Access Manager unauthenticated Remote Code Execution
#
use exploit/multi/http/oracle_access_manager_rce_cve_2021_35587
check
back

#
# Exploit: Oracle WebLogic Server Administration Console Handle RCE
#
use exploit/multi/http/weblogic_admin_handle_rce
check
back

#
# Exploit: PHP CGI Argument Injection Remote Code Execution
#
use exploit/windows/http/php_cgi_arg_injection_rce_cve_2024_4577
check
back

#
# Exploit: PRTG CVE-2023-32781 Authenticated RCE
#
use exploit/windows/http/prtg_authenticated_rce_cve_2023_32781
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: Pentaho Business Server Auth Bypass and Server Side Template Injection RCE
#
use exploit/multi/http/pentaho_business_server_authbypass_and_ssti
check
back

#
# Exploit: Plesk/myLittleAdmin ViewState .NET Deserialization
#
use exploit/windows/http/plesk_mylittleadmin_viewstate
check
back

#
# Exploit: Progress Software WS_FTP Unauthenticated Remote Code Execution
#
use exploit/windows/http/ws_ftp_rce_cve_2023_40044
check
back

#
# Exploit: Rejetto HTTP File Server (HFS) Unauthenticated Remote Code Execution
#
use exploit/windows/http/rejetto_hfs_rce_cve_2024_23692
check
back

#
# Exploit: Rockwell FactoryTalk View SE SCADA Unauthenticated Remote Code Execution
#
use exploit/windows/scada/rockwell_factorytalk_rce
check
back

#
# Exploit: SPIP BigUp Plugin Unauthenticated RCE
#
use exploit/multi/http/spip_bigup_unauth_rce
check
back

#
# Exploit: SPIP Unauthenticated RCE via porte_plume Plugin
#
use exploit/multi/http/spip_porte_plume_previsu_rce
check
back

#
# Exploit: SPIP form PHP Injection
#
use exploit/multi/http/spip_rce_form
check
back

#
# Exploit: SQL Server Reporting Services (SSRS) ViewState Deserialization
#
use exploit/windows/http/ssrs_navcorrector_viewstate
check
back

#
# Exploit: Samsung MagicINFO 9 Server Remote Code Execution (CVE-2024-7399)
#
use exploit/windows/http/magicinfo_traversal
check
back

#
# Exploit: SharePoint DataSet / DataTable Deserialization
#
use exploit/windows/http/sharepoint_data_deserialization
check
back

#
# Exploit: SharePoint Workflows XOML Injection
#
use exploit/windows/http/sharepoint_workflows_xoml
check
back

#
# Exploit: Sharepoint Dynamic Proxy Generator Unauth RCE
#
use exploit/windows/http/sharepoint_dynamic_proxy_generator_auth_bypass_rce
check
back

#
# Exploit: Sitecore CVE-2025-27218 BinaryFormatter Deserialization Exploit
#
use exploit/windows/http/sitecore_xp_cve_2025_27218
check
back

#
# Exploit: Sitecore Experience Platform (XP) PreAuth Deserialization RCE
#
use exploit/windows/http/sitecore_xp_cve_2021_42237
check
back

#
# Exploit: Softing Secure Integration Server v1.22 Remote Code Execution
#
use exploit/windows/http/softing_sis_rce
check
back

#
# Exploit: Sonicwall
#
use exploit/multi/http/sonicwall_shell_injection_cve_2023_34124
check
back

#
# Exploit: Splunk "edit_user" Capability Privilege Escalation
#
use exploit/multi/http/splunk_privilege_escalation_cve_2023_32707
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: Telerik Report Server Auth Bypass and Deserialization RCE
#
use exploit/windows/http/telerik_report_server_deserialization
check
back

#
# Exploit: Tomcat Partial PUT Java Deserialization
#
use exploit/multi/http/tomcat_partial_put_deserialization
check
back

#
# Exploit: Unauthenticated RCE in Bricks Builder Theme
#
use exploit/multi/http/wp_bricks_builder_rce
check
back

#
# Exploit: Unauthenticated remote code execution in Ignition
#
use exploit/multi/php/ignition_laravel_debug_rce
check
back

#
# Exploit: UniFi Network Application Unauthenticated JNDI Injection RCE (via Log4Shell)
#
use exploit/multi/http/ubiquiti_unifi_log4shell
check
back

#
# Exploit: VMware vCenter Server Unauthenticated JNDI Injection RCE (via Log4Shell)
#
use exploit/multi/http/vmware_vcenter_log4shell
check
back

#
# Exploit: VSCode ipynb Remote Development RCE
#
use exploit/multi/misc/vscode_ipynb_remote_dev_exec
check
back

#
# Exploit: Veritas Backup Exec Agent Remote Code Execution
#
use exploit/multi/veritas/beagent_sha_auth_rce
check
back

#
# Exploit: WP User Registration and Membership Unauthenticated Privilege Escalation (CVE-2025-2563)
#
use exploit/multi/http/wp_user_registration_membership_escalation
check
back

#
# Exploit: Wing FTP Server NULL-byte Authentication Bypass (CVE-2025-47812)
#
use exploit/multi/http/wingftp_null_byte_rce
check
back

#
# Exploit: WordPress Backup Migration Plugin PHP Filter Chain RCE
#
use exploit/multi/http/wp_backup_migration_php_filter
check
back

#
# Exploit: WordPress Hash Form Plugin RCE
#
use exploit/multi/http/wp_hash_form_rce
check
back

#
# Exploit: WordPress Really Simple SSL Plugin Authentication Bypass to RCE
#
use exploit/multi/http/wp_reallysimplessl_2fa_bypass_rce
check
back

#
# Exploit: WordPress Royal Elementor Addons RCE
#
use exploit/multi/http/wp_royal_elementor_addons_rce
check
back

#
# Exploit: WordPress SureTriggers (aka OttoKit) Combined Auth Bypass
#
use exploit/multi/http/wp_suretriggers_auth_bypass
check
back

#
# Exploit: WordPress WP Time Capsule Arbitrary File Upload to RCE
#
use exploit/multi/http/wp_time_capsule_file_upload_rce
check
back

#
# Exploit: WordPress wp-automatic Plugin SQLi Admin Creation
#
use exploit/multi/http/wp_automatic_sqli_to_rce
check
back

#
# Exploit: Wordpress File Manager Advanced Shortcode 2.3.2 - Unauthenticated Remote Code Execution through shortcode
#
use exploit/multi/http/wp_plugin_fma_shortcode_unauth_rce
check
back

#
# Exploit: Wordpress LiteSpeed Cache plugin cookie theft
#
use exploit/multi/http/wp_litespeed_cookie_theft
check
back

#
# Exploit: ZenTao Pro 8.8.2 Remote Code Execution
#
use exploit/windows/http/zentao_pro_rce
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: Zoho Password Manager Pro XML-RPC Java Deserialization
#
use exploit/windows/http/zoho_password_manager_pro_xml_rpc_rce
check
back

#
# Exploit: mySCADA MyPRO Authenticated Command Injection (CVE-2023-28384)
#
use exploit/windows/scada/mypro_cmdexe
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: mySCADA myPRO Manager Unauthenticated Command Injection (CVE-2024-47407)
#
use exploit/windows/scada/mypro_mgr_cmd
check
back

#
# Exploit: pgAdmin Binary Path API RCE
#
use exploit/windows/http/pgadmin_binary_path_api
check
back

#
# Exploit: qdPM 9.1 Authenticated Arbitrary PHP File Upload (RCE)
#
use exploit/multi/http/qdpm_authenticated_rce
set USERNAME fake_user
set PASSWORD fake_password
check
back

#
# Exploit: vBulletin 5.x /ajax/render/widget_tabbedcontainer_tab_panel PHP remote code execution
#
use exploit/multi/http/vbulletin_widget_template_rce
check
back

#
# Exploit: vBulletin replaceAdTemplate Remote Code Execution
#
use exploit/multi/http/vbulletin_replace_ad_template_rce
check
back

# End of script
exit
